body {
  width: 100%;
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  color: white;
}

header {
  text-align: left;
  padding-top: 2em;
  padding-left: 5em;
}

footer {
  padding-left: 5em;
  padding-bottom: 2em;
}

.logo {
  width: 200px;
}

main {
  text-align: center;
  padding: 5em;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
}

h2 {
  font-family: "Outfit", sans-serif;
  color: #d20094;
  font-size: 24px;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

ul {
  padding: 1.5em;
}

li {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

label {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

button {
  background-color: #00ffff;
  border: none;
  padding: 1em;
  box-shadow: 10px 5px 5px 5px #00ffff80;
  cursor: pointer;
  margin: auto;
  font-weight: bold;
  font-size: 2em;
}

button:hover {
  font-size: 2.2em;
}

#feedback-page main {
  display: inline-block;
  width: 100%;
}

#feedback-page h1 {
  font-size: 5em;
  text-align: center;
}

#feedback-page h3 {
  font-size: 2em;
  font-weight: normal;
  text-align: center;
  margin: auto;
  max-width: 50%;
}

#rating-stars {
  margin-top: 200px;
  margin-bottom: 200px;
  text-align: center;
}

#rating-stars span {
  padding-left: 30px;
}

#rating-stars img {
  cursor: pointer;
  width: 3.8em;
}

#comment {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

#comment input {
  width: 50%;
  background-color: transparent;
  font-size: 1.4em;
  margin: 60px;
  border: unset;
  border-bottom: #d20094 solid 3px;
  color: white;
  outline: none;
}

#comment input:hover {
  font-size: 1.8em;
}

#feedback-button {
  text-align: center;
}

.titResults {
  text-align: center;
  font-size: 50px;
  margin: 0 auto;
  margin-bottom: 2em;
}
.titResults h2 {
  color: white;
  font-size: 60px;
  margin: 0 auto;
}
.titResults h3 {
  font-size: 35px;
  margin: 0 auto;
  font-weight: normal;
}
#resultscontainer {
  text-align: center;
}
#resultscontainer div {
  display: ruby-text;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 5%;
}
#resultscontainer h2 {
  color: white;
  font-weight: normal;
  font-size: 50px;
  margin: 0 auto;
}

#rateUs {
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-color: transparent;
  border: white solid 2px;
  margin-top: 5em;
  box-shadow: none;
  padding: 18px 68px;
}
