body {
  width: 100vw;
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  color: white;
}

header {
  text-align: left;
  padding-top: 2em;
  padding-left: 5em;
}

footer {
  padding-left: 5em;
  padding-bottom: 2em;
}

.logo {
  width: 200px;
}

main {
  padding: 5em;
}

#welcome_page {
  text-align: left;
  display: block;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
}

h5 {
  font-family: "Outfit", sans-serif;
  color: #d20094;
  font-size: 24px;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

ul {
  padding: 1.5em;
  margin-bottom: 3em;
}

li {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 2em;
}

label {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.blue_button {
  background-color: #00ffff;
  border: none;
  padding: 0.8em 3em;
  box-shadow: 0px 0px 35px 5px #00ffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #0b1d45;
  text-align: center;
}

.checkbox_div {
  display: inline-block;
  width: 80%;
}

/* button:hover {
  font-size: 2.2em;
} */

#feedback-page main {
  display: inline-block;
  width: 100vw;
}

#feedback-page h1 {
  font-size: 7em;
  text-align: center;
}

#feedback-page h3 {
  font-size: 3em;
  font-weight: normal;
  text-align: center;
  margin: auto;
  max-width: 45%;
}

#rating-stars {
  margin-top: 100px;
  margin-bottom: 110px;
  text-align: center;
}

#rating-stars span {
  padding-left: 30px;
}

#rating-stars img {
  cursor: pointer;
  width: 3.8em;
}

#rating-stars img.hovered,
#rating-stars img.selected {
  background-color: #d20094;
  padding: 3px;
  /* VERSIONE CSS AVANZATO */
  /* filter: brightness(1.2) saturate(1.4) sepia(1) hue-rotate(10deg) saturate(4)
    brightness(1.1); */
}

#comment {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

#comment input {
  width: 50%;
  background-color: transparent;
  font-size: 1.4em;
  margin: 90px;
  border: unset;
  border-bottom: #d20094 solid 3px;
  color: white;
  outline: none;
}

#comment input:hover {
  font-size: 1.8em;
}

.titResults {
  text-align: center;
  font-size: 50px;
  margin: 0 auto;
  margin-bottom: 2em;
}
.titResults h2 {
  color: white;
  font-size: 60px;
  margin: 0 auto;
}
.titResults h3 {
  font-size: 35px;
  margin: 0 auto;
  font-weight: normal;
}
#resultscontainer {
  text-align: center;
}
#resultscontainer div {
  display: ruby-text;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 5%;
}
#resultscontainer h2 {
  color: white;
  font-weight: normal;
  font-size: 50px;
  margin: 0 auto;
}

#rateUs {
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-color: transparent;
  border: white solid 2px;
  margin-top: 5em;
  box-shadow: none;
  padding: 18px 68px;
}
